@use "colors";

/* Education section */
.center {
  display: block;
  margin: auto;
  text-align: left;
  width: 70%;

  padding: 10px;
  height: auto;
}

h3 {
  font-size: 60px;
  padding: 8px 24px;
  border-radius: 16px;
}
table {
  margin: auto;
  text-align: center;
}

p {
  padding: 2px;
}

.section2 {
  display: block;
  text-align: center;
  background: colors.$ColorPalletGrade1;
  color: colors.$ColorPalletGrade5;

  margin: 0 auto;
  p {
    font-weight: lighter;
    text-align: left;
  }
}
